**CREATE A DATABASE**

In [ ]:
-- Insert the name of the database you want in the Ocean_Blue_Sentries section 
create database Ocean_Blue_Sentries

**SELECT A DATABASE TO USE**

In [ ]:
-- Replace Ocean_Blue_Sentries with the name of the database you created earlier
use Ocean_Blue_Sentries

**CREATING THE DATABASE SCHEMA**

In [ ]:
CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY,
    FirstName VARCHAR(50) NOT NULL,
    LastName VARCHAR(50) NOT NULL,
    Email VARCHAR(100) NOT NULL,
    Phone VARCHAR(20) NOT NULL,
    Address VARCHAR(200) NOT NULL,
    City VARCHAR(50) NOT NULL,
    State VARCHAR(50) NOT NULL,
    ZipCode VARCHAR(10) NOT NULL
);

INSERT INTO Customers (CustomerID, FirstName, LastName, Email, Phone, Address, City, State, ZipCode)
VALUES 
(1, 'John', 'Doe', 'johndoe@gmail.com', '555-1234', '123 Main St', 'Anytown', 'CA', '12345'),
(2, 'Jane', 'Doe', 'janedoe@yahoo.com', '555-5678', '456 Elm St', 'Othertown', 'NY', '67890'),
(3, 'Bob', 'Smith', 'bobsmith@hotmail.com', '555-9101', '789 Maple Ave', 'Somewhere', 'FL', '23456'),
(4, 'Alice', 'Jones', 'alicejones@gmail.com', '555-1212', '321 Oak St', 'Anytown', 'CA', '12345'),
(5, 'David', 'Lee', 'davidlee@yahoo.com', '555-1313', '246 Pine St', 'Othertown', 'NY', '67890'),
(6, 'Samantha', 'Chen', 'samanthachen@hotmail.com', '555-1414', '135 Cedar Ave', 'Somewhere', 'FL', '23456'),
(7, 'Tom', 'Nguyen', 'tomnguyen@gmail.com', '555-1515', '642 Forest Rd', 'Anytown', 'CA', '12345'),
(8, 'Jessica', 'Kim', 'jessicakim@yahoo.com', '555-1616', '753 River St', 'Othertown', 'NY', '67890'),
(9, 'William', 'Wilson', 'williamwilson@hotmail.com', '555-1717', '864 Lake Ave', 'Somewhere', 'FL', '23456'),
(10, 'Emily', 'Taylor', 'emilytaylor@gmail.com', '555-1818', '975 Meadow Ln', 'Anytown', 'CA', '12345');

CREATE TABLE Products (
    ProductID INT PRIMARY KEY,
    Name VARCHAR(100) NOT NULL,
    Description VARCHAR(500) NOT NULL,
    Price DECIMAL(10,2) NOT NULL,
    Quantity INT NOT NULL
);

INSERT INTO Products (ProductID, Name, Description, Price, Quantity)
VALUES
(1, 'iPhone 12', 'Apple iPhone 12, 64GB, Black', 999.00, 100),
(2, 'Samsung Galaxy S21', 'Samsung Galaxy S21, 128GB, Phantom Gray', 799.00, 50),
(3, 'iPad Air', 'Apple iPad Air, 64GB, Space Gray', 599.00, 75),
(4, 'MacBook Pro', 'Apple MacBook Pro, 13-inch, M1 chip, 256GB SSD', 1299.00, 25),
(5, 'Dell XPS 13', 'Dell XPS 13, 11th Gen Intel Core i7, 16GB RAM, 512 GB SSD', 1399.00, 20),
(6, 'Sony PlayStation 5', 'Sony PlayStation 5, Disc Edition', 499.00, 40),
(7, 'Microsoft Xbox Series X', 'Microsoft Xbox Series X, 1TB SSD', 499.00, 35),
(8, 'Nintendo Switch', 'Nintendo Switch, Neon Red/Neon Blue Joy-Con', 299.00, 60),
(9, 'Amazon Echo Dot', 'Amazon Echo Dot (3rd Gen) Smart Speaker with Alexa, Charcoal', 49.99, 200),
(10, 'Google Nest Mini', 'Google Nest Mini (2nd Gen) Smart Speaker with Google Assistant, Charcoal', 49.99, 150),
(11, 'Samsung QLED Q90T', 'Samsung QLED Q90T, 65-inch, 4K UHD, Smart TV', 1999.00, 10),
(12, 'LG OLED CX', 'LG OLED CX, 55-inch, 4K UHD, Smart TV', 1499.00, 15),
(13, 'Sony WH-1000XM4', 'Sony WH-1000XM4 Wireless Noise Cancelling Overhead Headphones, Black', 349.99, 30),
(14, 'Bose QuietComfort Earbuds', 'Bose QuietComfort Earbuds, True Wireless Earbuds, Soapstone', 279.00, 50),
(15, 'Apple AirPods Pro', 'Apple AirPods Pro, Active Noise Cancellation, Wireless Charging Case', 249.00, 100);

CREATE TABLE Sales (
SaleID INT PRIMARY KEY,
CustomerID INT NOT NULL,
OrderDate DATE NOT NULL,
TotalAmount DECIMAL(10,2) NOT NULL,
CONSTRAINT FK_Sales_Customers FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

INSERT INTO Sales (SaleID, CustomerID, OrderDate)
VALUES
(1, 1, '2022-02-15'),
(2, 2, '2022-02-16'),
(3, 3, '2022-02-16'),
(4, 4, '2022-02-17'),
(5, 5, '2022-02-18'),
(6, 6, '2022-02-19'),
(7, 7, '2022-02-20'),
(8, 8, '2022-02-20'),
(9, 9, '2022-02-21'),
(10, 10, '2022-02-22'),
(11, 1, '2022-02-23'),
(12, 2, '2022-02-24'),
(13, 3, '2022-02-24'),
(14, 4, '2022-02-25'),
(15, 5, '2022-02-26');

CREATE TABLE OrderItems (
OrderItemID INT PRIMARY KEY,
SaleID INT NOT NULL,
ProductID INT NOT NULL,
Quantity INT NOT NULL,
Price DECIMAL(10,2) NOT NULL,
CONSTRAINT FK_OrderItems_Sales FOREIGN KEY (SaleID) REFERENCES Sales(SaleID),
CONSTRAINT FK_OrderItems_Products FOREIGN KEY (ProductID) REFERENCES Products(ProductID)
);

INSERT INTO OrderItems (OrderItemID, SaleID, ProductID, Quantity, Price)
VALUES
(1, 1, 4, 1, 1299.00),
(2, 2, 2, 1, 799.00),
(3, 3, 3, 2, 599.00),
(4, 4, 7, 1, 499.00),
(5, 5, 1, 1, 999.00),
(6, 6, 8, 2, 299),
(7, 7, 10, 1, 49.99),
(8, 8, 6, 1, 499),
(9, 9, 9, 2, 49.99),
(10, 10, 12, 1, 1499),
(11, 11, 4, 1, 1299),
(12, 12, 5, 1, 1399),
(13, 13, 9, 1, 49.99),
(14, 14, 14, 1, 279.00),
(15, 15, 3, 1, 599.00);

**CUSTOMERS TABLE**

In [ ]:
select *
from Customers

**PRODUCTS TABLE**

In [ ]:
select *
from products

**SALES TABLE**

In [ ]:
select *
from sales

**ORDER ITEMS TABLE**

In [ ]:
select *
from orderitems

**1\. Select all customers who live in a certain state.**

In [ ]:
select *
from Customers
where State = 'CA'

**2\. Select all products with a quantity greater than a certain number.**

In [ ]:
select *
from Products
where Quantity > 50

**3\. Select the customer with a specific ID.**

In [ ]:
select *
from Customers
where customerid = 6

**4\. Update the price of a specific product.**

In [ ]:
-- Updating the table
update Products
set price = 700
where productid = 3

-- What Productid 3 looks like after update
select *
from Products
where productid = 3

**5a. Delete a customer from the Customers table.**

In [ ]:
/*
    -- delete from Customers
    -- where customerid = 1
To go about deleting a row from a database, you first have to remove the constraints tied to that row. 
I want to remove customer 1 but customer 1 is referenced in sales because the customer made a purchase. 
Since the customer made a purchase, he appears as a foreign key in the sales tabel. 
It is also worth nothing that sales is referenced in orderitems table as well. 
So lets fix all this in a two stage process
*/

-- STAGE 1: Create a dummy customer where we tie the sales of Customer 1 to
insert into Customers(customerid)
values(11)

-- STAGE 2: Tie all sales of Customer 1 to newly created customer 11
update Sales
set customerid = 11
where customerid = 1

-- STAGE 3: Now delete Customer 1
delete from Customers
where customerid = 1

**5b. Restore deleted customer from the Customers table.**

In [ ]:
-- STAGE 1:  Create customer 1 details back into the customers table
insert into Customers(customerid, firstname, lastname, email, phone, address, city, state, zipcode)
values(1, 'John', 'Doe', 'johndoe@gmail.com', '555-1234', '123 Main St', 'Anytown',	'CA', '12345')

-- STAGE 2: Tie all sales of Customer 11 to newly created customer 1
update Sales
set customerid = 1
where customerid = 11

-- STAGE 3: Now delete Customer 11
delete from Customers
where customerid = 11

<span style="font-size:11.0pt;line-height:107%;
font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
Calibri;mso-fareast-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;
mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;
mso-ansi-language:EN-GB;mso-fareast-language:EN-US;mso-bidi-language:AR-SA"><b>6. Select the total sales for each product.&nbsp; &nbsp;</b></span>

In [ ]:
-- This is found in the OrderItems table where we measure the amount of total sales on each product

select orderitems.productid, products.name, sum(orderitems.quantity * orderitems.price) as total_sales
from OrderItems
join Products
on products.productid = orderitems.productid
group by orderitems.productid, products.name

/*
So how did we perform this operation. We start by identifying where the table that discusses total sales for
each product is. 
NEXT: We identify that we want to group the quantity and multiply price as that will give us an AGGREGATION for total sales.
      In this stage, we also identify what we want the user to see we are grouping. For us that is PRODUCTS.
      
      CODE:
      select productid, sum(quantity * price) as total_sales
      from OrderItems
      groupby productid

NEXT: The earlier code is good enough to solve the problem at hand however, for sake of explanation, 
      the result we want to get the actual name of the product rather than having the productid.

      CODE:
      select orderitems.productid, products.name, sum(orderitems.quantity * orderitems.price) as total_sales
      from OrderItems
      join Products
      on products.productid = orderitems.productid
      group by orderitems.productid, products.name
*/

<span style="font-size:11.0pt;line-height:107%;
font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
Calibri;mso-fareast-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;
mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;
mso-ansi-language:EN-GB;mso-fareast-language:EN-US;mso-bidi-language:AR-SA"><b>7. Select the number of orders for each customer.</b></span>

In [ ]:
-- You should check that the number of Orders signifies the Quantity in orderitems for each sale made by a customer
-- For this, we are checking quantity in orderitems table and customers in sales table (JOIN)

select Firstname, Lastname, sum(quantity) as total_customer_orders
from OrderItems
join Sales
on Sales.saleid = OrderItems.saleid
join Customers
on Customers.customerid = Sales.customerid
group by Firstname, Lastname

<span style="font-size:11.0pt;line-height:107%;
font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
Calibri;mso-fareast-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;
mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;
mso-ansi-language:EN-GB;mso-fareast-language:EN-US;mso-bidi-language:AR-SA"><b>8. Select the number of items sold for each product.</b></span>

In [ ]:
-- This is found in the OrderItems table where we measure the number of items sold on each product

select orderitems.productid, products.name, sum(orderitems.quantity) as total_sales
from OrderItems
join Products
on products.productid = orderitems.productid
group by orderitems.productid, products.name

/*
So how did we perform this operation. We start by identifying where the table that discusses total sales for
each product is. 
NEXT: We identify that we want to group the quantity as that will give us an AGGREGATION for total sales.
      In this stage, we also identify what we want the user to see we are grouping. For us that is PRODUCTS.
      
      CODE:
      select productid, sum(quantity) as total_sales
      from OrderItems
      groupby productid

NEXT: The earlier code is good enough to solve the problem at hand however, for sake of explanation, 
      the result we want to get the actual name of the product rather than having the productid.

      CODE:
      select orderitems.productid, products.name, sum(orderitems.quantity) as total_sales
      from OrderItems
      join Products
      on products.productid = orderitems.productid
      group by orderitems.productid, products.name
*/

**<span style="font-size:11.0pt;line-height:107%;
font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
Calibri;mso-fareast-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;
mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;
mso-ansi-language:EN-GB;mso-fareast-language:EN-US;mso-bidi-language:AR-SA">9. Select the top </span> <span lang="en-NG" style="font-size:11.0pt;line-height:107%;
font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
Calibri;mso-fareast-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;
mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;
mso-ansi-language:#0C00;mso-fareast-language:EN-US;mso-bidi-language:AR-SA">5</span> <span style="font-size:11.0pt;line-height:107%;font-family:&quot;Calibri&quot;,sans-serif;
mso-ascii-theme-font:minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:
minor-latin;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:&quot;Times New Roman&quot;;
mso-bidi-theme-font:minor-bidi;mso-ansi-language:EN-GB;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA">customers by total sales.</span>**

In [ ]:
select top 5 customers.firstname, customers.lastname, sum(orderitems.quantity * orderitems.price) as total_sales
from Orderitems
join Sales
on Sales.saleid = OrderItems.saleid
join Customers
on Customers.customerid = Sales.customerid
group by customers.firstname, customers.lastname 
order by total_sales desc

**10\. Select the top 5 products by quantity sold.**

In [ ]:
select top 5 orderitems.productid, products.name, sum(orderitems.quantity) as total_quantity_sold
from OrderItems
join Products
on products.productid = orderitems.productid
group by orderitems.productid, products.name 
order by total_quantity_sold desc

<span style="font-size:11.0pt;line-height:107%;
font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
Calibri;mso-fareast-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;
mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;
mso-ansi-language:EN-GB;mso-fareast-language:EN-US;mso-bidi-language:AR-SA"><b>11. Select all orders that were placed between certain dates.</b></span>

In [ ]:
select *
from Sales
where Orderdate > '2022-02-16' and Orderdate <= '2022-2-20'

<span style="font-size:11.0pt;line-height:107%;
font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
Calibri;mso-fareast-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;
mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;
mso-ansi-language:EN-GB;mso-fareast-language:EN-US;mso-bidi-language:AR-SA"><b>12. Select all orders for a specific customer.</b></span>

In [ ]:
select *
from Sales
where customerid = 2

<span style="font-size:11.0pt;line-height:107%;
font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
Calibri;mso-fareast-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;
mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;
mso-ansi-language:EN-GB;mso-fareast-language:EN-US;mso-bidi-language:AR-SA"><b>13. Select the total sales for a specific customer.</b></span>

In [ ]:
select firstname, lastname, sum(quantity * price) as total_sales
from OrderItems
join sales
on Orderitems.saleid = Sales.saleid
join customers
on customers.customerid = sales.customerid
where customers.customerid = 2
group by firstname, lastname

**14\. Select the average sales per order.**

In [ ]:
select avg(quantity * price) as average_sales_per_order
from orderitems

**15\. Select the customer who has placed the most orders.**

In [ ]:
select top 1 firstname, lastname, sum(quantity) as total_orders
from orderitems
join sales
on sales.saleid = orderitems.saleid
join customers
on customers.customerid = sales.customerid
group by firstname, lastname
order by total_orders desc

**16\. Select the customer who has spent the most money.**

In [ ]:
select top 1 firstname, lastname, sum(quantity * price) as total_money_spent
from orderitems
join sales
on sales.saleid = orderitems.saleid
join customers
on customers.customerid = sales.customerid
group by firstname, lastname
order by total_money_spent desc

-- This belongs to customer 1 who we deleted in CELL 5

**17\. Select the product that has the highest price.**

In [ ]:
select top 1 *
from Products
order by price desc

**18\. Select the product that has the lowest price.**

In [ ]:
select top 1 *
from Products
order by price asc

**19\. Select the number of products sold in each category.**

In [ ]:
-- NO RESPONSE

**20\. Select the total revenue for each category.**

In [ ]:
-- NO RESPONSE

**21\. Select the number of customers who have placed orders.**

In [ ]:
select count(distinct(customerid)) as Number_of_customers_that_placed_orders
from Sales

**22\. Select the most popular shipping method.**

In [ ]:
-- NO RESPONSE

**23\. Select the number of orders for each shipping method.**

In [ ]:
-- NO RESPONSE

**24\. Select the average quantity per order.**

In [ ]:
select avg(quantity) as average_quantity_per_order
from orderitems

<span style="font-size:11.0pt;line-height:107%;
font-family:&quot;Calibri&quot;,sans-serif;mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
Calibri;mso-fareast-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;
mso-bidi-font-family:&quot;Times New Roman&quot;;mso-bidi-theme-font:minor-bidi;
mso-ansi-language:EN-GB;mso-fareast-language:EN-US;mso-bidi-language:AR-SA"><b>25. Select the total revenue for a specific time period (months).</b></span>

In [ ]:
select sum(orderitems.quantity * price) as total_revenue_from_17th_to_23rd
from Orderitems
join sales
on sales.saleid = orderitems.saleid
where orderdate >= '2022-02-17' and orderdate <= '2022-02-23'